[Unit]
Description=OpenStack Identity Service (code-named Keystone)
After=mysqld.service

[Service]
Type=notify
Restart=on-failure
User=keystone
ExecStart=/usr/bin/keystone-all
ExecStartPre=/usr/bin/keystone-systemd-start pre-start
ExecStartPost=/usr/bin/keystone-systemd-start post-start
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
