[Unit]
Description=OpenStack Nova NoVNC Proxy Server
After=openstack-nova-api.service

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-novncproxy --web /usr/share/novnc/ $OPTIONS

[Install]
WantedBy=multi-user.target
