[Unit]
Description=OpenStack Image Service (code-named Glance) API server
After=openstack-glance-registry.service

[Service]
Type=simple
User=glance
ExecStart=/usr/bin/glance-api
#ExecStartPost=/usr/bin/glance-systemd-start post-start
PrivateTmp=true

[Install]
WantedBy=multi-user.target

